:root {
  --background-dark: rgb(30, 30, 30);
  --background-light: rgb(255, 255, 255);
}

main > div {
  background: var(--background-light);
}

.dark main > div {
  background: var(--background-dark);
}

.prose h1 {
  margin-bottom: 4px;
}
